.mas-elementor-woo-meta--view-inline .product_meta {
    display: flex;
    flex-wrap: wrap;
  }
  .mas-elementor-woo-meta--view-inline .product_meta .detail-container:after {
    width: auto;
    left: auto;
    right: auto;
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left-width: 1px;
    border-style: solid;
    right: -8px;
  }
  .mas-elementor-woo-meta--view-table .product_meta {
    display: flex;
    flex-direction: column;
  }
  .mas-elementor-woo-meta--view-table .product_meta .detail-container {
    display: flex;
  }
  .mas-elementor-woo-meta--view-table .product_meta .detail-label {
    min-width: 108px;
  }
  .mas-elementor-woo-meta--view-stacked .product_meta .detail-container {
    display: block;
  }

  .elementor-widget-mas-woocommerce-product-meta .detail-container {
    position: relative;
  }
  .elementor-widget-mas-woocommerce-product-meta .detail-container:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .elementor-widget-mas-woocommerce-product-meta .detail-label {
    font-weight: bold;
  }