.mas-elementor-nav-tab-layout-horizontal 
    .mas-elementor-nav-tab {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.mas-elementor-nav-tab-layout-vertical 
    .mas-elementor-nav-tab {
    padding: 0;
    margin: 0;
    list-style: none;    
}


.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.mas-nav-link {
    display: block;
    width: 100%;
}

.mas-tab-flex {
    display: flex;
}

.mas-tab-flex-grow {
    flex-grow: 1;
}

.mas-tab-icon svg {
    width: var(--e-icon-tab-icon-size, 1em);
    height: var(--e-icon-tab-icon-size, 1em);
}

.mas-tab-icon i {
    width: 1.25em;
    font-size: var(--e-icon-tab-icon-size);
}

/* Enable hover effect for the nav-tabs */
.mas-elementor-nav-tab-li.nav-item > a.mas-nav-link.nav-link {
    cursor: pointer;
}

.mas-elementor-nav-tab-li.nav-item > a.mas-nav-link.nav-link:hover + .tab-content > .tab-pane {
    display: none;
}

.mas-elementor-nav-tab-li.nav-item:hover > a.mas-nav-link.nav-link[data-bs-toggle="tab"]::after {
    content: attr(data-bs-target);
    visibility: visible;
    display: block;
    height: auto;
}

.mas-elementor-nav-tab-li.nav-item:hover > a.mas-nav-link.nav-link[data-bs-toggle="tab"]::after {
    display: none;
}
