/* .mas-job-title-icon svg {
    width: var(--e-icon-job-icon-size );
    height: var(--e-icon-job-icon-size );
}

.mas-job-title-icon i {
    width: var(--e-icon-job-icon-size );
    font-size: var(--e-icon-job-icon-size);
} */