.elementor-widget-mas-woocommerce-checkout-page {
    background-color: transparent;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #69727D;
    /* one column layout */
    /* override theme defaults for themes that have hover background colors on these elements. The hover background colors do not play well with the widget's initial design. */
    /* Make select2 appear like other inputs start */
    /* Make select2 appear like other inputs end */
  }
  .elementor-widget-mas-woocommerce-checkout-page.e-checkout-layout-one-column .e-checkout__container {
    grid-template-columns: auto;
  }
  .elementor-widget-mas-woocommerce-checkout-page ::-moz-placeholder {
    color: var(--mas-forms-fields-normal-color, inherit);
    font-family: inherit;
    opacity: 0.6;
  }
  .elementor-widget-mas-woocommerce-checkout-page ::placeholder {
    color: var(--mas-forms-fields-normal-color, inherit);
    font-family: inherit;
    opacity: 0.6;
  }
  .elementor-widget-mas-woocommerce-checkout-page table tbody tr:hover > td, .elementor-widget-mas-woocommerce-checkout-page table tbody tr:hover > th {
    background-color: transparent;
  }
  .elementor-widget-mas-woocommerce-checkout-page .select2-container--default .select2-selection--single {
    color: var(--mas-forms-fields-normal-color, #69727D);
    background-color: #F9FAFA;
    border-radius: var(--mas-forms-fields-border-radius, 0px);
    border: none;
    height: 45px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .select2-container--default .select2-selection--single:focus {
    color: var(--mas-forms-fields-focus-color, #69727D);
    background-color: #F9FAFA;
    border-color: initial;
    transition-duration: var(--mas-forms-fields-focus-transition-duration, 0.3s);
  }
  .elementor-widget-mas-woocommerce-checkout-page .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: var(--mas-forms-fields-normal-color, #69727D);
  }
  .elementor-widget-mas-woocommerce-checkout-page .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--mas-forms-fields-normal-color, #69727D);
    line-height: 45px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .elementor-widget-mas-woocommerce-checkout-page .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .select2-container--open .select2-dropdown--below {
    background-color: #F9FAFA;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-description {
    color: var(--mas-sections-descriptions-color, #69727D);
    padding-bottom: var(--mas-sections-descriptions-spacing, 0px);
    font-size: 14px;
    font-weight: 400;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-mas-woocommerce-login-section {
    margin-bottom: 24px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-mas-woocommerce-login-section .e-mas-checkout-secondary-title {
    text-align: var(--mas-login-title-alignment, left);
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-woocommerce-login-nudge {
    margin-top: var(--mas-sections-secondary-title-spacing, 24px);
    margin-bottom: 15px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-coupon-anchor {
    margin-top: var(--mas-sections-secondary-title-spacing, 24px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-coupon-box {
    margin-top: 24px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-coupon-anchor-description {
    color: var(--mas-forms-labels-color, #69727D);
    margin-bottom: var(--mas-forms-label-spacing, 3px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-login-wrap {
    display: flex;
    align-items: center;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-login-wrap-start {
    flex: 75%;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-login-wrap-end {
    flex: 20%;
    text-align: right;
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .e-login-wrap {
      display: block;
    }
    .elementor-widget-mas-woocommerce-checkout-page .e-login-wrap-end {
      text-align: var(--mas-login-button-alignment, left);
      margin-top: 15px;
    }
    .elementor-widget-mas-woocommerce-checkout-page .e-login-wrap-end label.e-login-label {
      display: none;
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-login-actions-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-login-actions-wrap-end .lost_password {
    margin-bottom: 0;
    font-size: 12px;
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .e-login-actions-wrap-end .lost_password {
      font-size: 11px;
    }
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .e-apply-coupon {
      width: var(--mas-coupon-button-width, auto);
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-checkout__container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 56% auto; /* column widths - to match the design */
    align-items: stretch;
    grid-column-gap: var(--mas-sections-margin, 24px);
    grid-row-gap: var(--mas-sections-margin, 24px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce button.woocommerce-button {
    background-color: var(--e-a-bg-default);
    color: var(--mas-forms-buttons-normal-text-color, #6F6F6F);
    border-radius: var(--mas-forms-buttons-border-radius, 3px);
    padding: 1rem;
    border-style: var(--mas-forms-buttons-border-type, solid);
    border-color: var(--mas-forms-buttons-border-color, #5bc0de);
    border-width: 2px;
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .e-checkout__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-mas-checkout-secondary-title {
    color: var(--mas-sections-secondary-title-color, #69727D);
    margin-bottom: 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-woocommerce-coupon-nudge {
    text-align: var(--mas-coupon-title-alignment, left);
  }
  .elementor-widget-mas-woocommerce-checkout-page #ship-to-different-address {
    margin-top: 13px;
    padding-left: var(--mas-shipping-heading-padding-start, 30px);
  }
  .elementor-widget-mas-woocommerce-checkout-page #ship-to-different-address span {
    font-weight: 400;
  }
  .elementor-widget-mas-woocommerce-checkout-page a {
    color: var(--mas-links-normal-color, #5bc0de);
  }
  .elementor-widget-mas-woocommerce-checkout-page a:hover {
    color: var(--links-hover-color, #5bc0de);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce {
    /* Need to use these specific selectors to override WooCommerce CSS */
    /* Need the <button> selector here so that we can target .woocommerce-button
    without being overwritten by WooCommerce's button.button selector.
    We are also targeting .woocommerce-button because none of this styling should
    apply to the Purchase button. Only The Login/Apply coupon button. */
    /* Main Sections styling start */
    /* Main Sections styling end */
    /* Styling for everything classified as 'Messages' start */
    /* Styling for everything classified as 'Messages' end */
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .form-row,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor .form-row,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row {
    padding-left: var(--mas-forms-columns-gap-padding, 0px);
    padding-right: var(--mas-forms-columns-gap-padding, 0px);
    margin-left: var(--mas-forms-columns-gap-margin, 0px);
    margin-right: var(--mas-forms-columns-gap-margin, 0px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .form-row label,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor .form-row label,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row label {
    color: var(--mas-forms-labels-color, #69727D);
    margin-bottom: var(--mas-forms-label-spacing, 3px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .form-row .input-text,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .form-row select,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .form-row textarea,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor .form-row .input-text,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor .form-row select,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor .form-row textarea,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row .input-text,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row select,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row textarea {
    color: var(--mas-forms-fields-normal-color, #69727D);
    background-color: #F9FAFA;
    border-radius: var(--mas-forms-fields-border-radius, 0px);
    padding: var(--mas-forms-fields-padding, 16px);
    font-size: 14px;
    border: none;
    font-weight: 400;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .form-row .input-text:focus,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .form-row select:focus,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .form-row textarea:focus,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor .form-row .input-text:focus,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor .form-row select:focus,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor .form-row textarea:focus,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row .input-text:focus,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row select:focus,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row textarea:focus {
    color: var(--mas-forms-fields-focus-color, #69727D);
    background-color: #F9FAFA;
    border-color: #69727D;
    transition-duration: var(--mas-forms-fields-focus-transition-duration, 0.3s);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details #billing_address_1_field,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-woocommerce-login-anchor #billing_address_1_field,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box #billing_address_1_field {
    margin-bottom: 5px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .create-account,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box .form-row {
    /* need to use !important here to override the style controls,
    these items must not be affected by the controls */
    margin-bottom: 0 !important;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .input-radio,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #shipping_method li input {
    vertical-align: middle;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-form__input-checkbox {
    vertical-align: middle;
    margin: 0 5px 0 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-form__label-for-checkbox span {
    position: relative;
    top: 2px;
    color: var(--mas-sections-checkboxes-color, #69727D);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .wc_payment_method label,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #coupon_code {
    margin-right: 1%;
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .woocommerce #coupon_code {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-info {
    border-top-color: transparent;
    background-color: transparent;
    padding: 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-privacy-policy-text p {
    font-weight: 400;
    font-size: 12px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-form-login-toggle .woocommerce-info {
    font-weight: 400;
    margin-bottom: 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-mas-woocommerce-login-section,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-checkout__order_review,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-coupon-box,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout #payment,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .col-1,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shipping_address,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-additional-fields {
    background: var(--mas-sections-background-color, #ffffff);
    border-radius: var(--mas-sections-border-radius, 3px);
    padding: var(--mas-sections-padding, 16px 30px);
    margin: var(--mas-sections-margin, 0 0 24px 0);
    border-style: var(--mas-sections-border-type, solid);
    border-color: var(--mas-sections-border-color, #D5D8DC);
    border-width: 1px;
    display: block;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-additional-fields {
    display: var(--mas-additional-information-display, none);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .payment_methods .payment_box:before {
    display: none;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .payment_methods li {
    line-height: 21px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .payment_methods li label a {
    padding-left: 15px;
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-additional-fields {
      margin: var(--mas-sections-margin, 0);
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout #payment .payment_box,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-privacy-policy-text,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .e-checkout-message {
    color: var(--mas-sections-messages-color, #69727D);
    font-weight: 400;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-privacy-policy-text p {
    margin-top: 25px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .col2-set .col-1 {
    margin-bottom: 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #customer_details .col2-set .col-2 {
    padding-top: 15px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #order_review_heading {
    text-align: var(--mas-order-review-title-alignment, left);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table {
    margin-bottom: 0;
    border: 0;
    font-size: 14px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table thead {
    background-color: transparent;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table thead tr th {
    padding-top: 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table tbody td {
    color: #000000;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table tbody td .product-quantity {
    font-weight: normal;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table tfoot th,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table tfoot td {
    color: #69727D;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table td,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table tr,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table th {
    border: 0;
    padding-left: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table .order-total th,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table .order-total tr,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table .order-total td {
    padding-bottom: 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table tr:nth-child(odd) > td,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .shop_table tr:nth-child(odd) > th {
    background-color: transparent;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table .cart_item td {
    font-weight: 400;
    color: var(--mas-order-summary-items-color, #000000);
    border-bottom-color: var(--mas-order-summary-items-divider-color, #69727D);
    border-bottom-width: var(--mas-order-summary-items-divider-weight, 0px);
    border-bottom-style: solid;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table .cart_item td.product-name {
    padding-right: 40px;
    max-width: 150px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table .cart_item td.product-total {
    vertical-align: top;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table td,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table th {
    padding-top: var(--mas-order-summary-rows-gap-top, 15px);
    padding-bottom: var(--mas-order-summary-rows-gap-bottom, 15px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table thead th,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table tfoot td,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table tfoot th {
    color: var(--mas-order-summary-totals-color, #69727D);
    vertical-align: top;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table .order-total td,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .woocommerce-checkout-review-order-table .order-total th {
    border-top-color: var(--mas-order-summary-totals-divider-color, #69727D);
    border-top-width: var(--mas-order-summary-totals-divider-weight, 0px);
    border-top-style: solid;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-shipping-totals td {
    max-width: 70px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce h3 {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: var(--mas-sections-title-spacing, 30px);
    color: var(--mas-sections-title-color, #000000);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .form-row > span {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3px;
    color: #69727D;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .form-row-first, .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .form-row-last {
    /* use 48% to match the design. Default WC CSS uses 47% */
    width: 48%;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .form-row .input-checkbox {
    vertical-align: middle;
    margin: 0 5px 0 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .woocommerce-billing-fields h3 {
    text-align: var(--billing-details-title-alignment, left);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .woocommerce-billing-fields .form-row, .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .woocommerce-shipping-fields .form-row, .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .woocommerce-account-fields .form-row {
    margin-bottom: var(--mas-forms-rows-gap, 5px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .woocommerce-billing-fields .form-row:last-child, .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .woocommerce-shipping-fields .form-row:last-child, .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .woocommerce-account-fields .form-row:last-child {
    margin-bottom: 15px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout.login {
    margin-top: -8px;
    z-index: 999;
    background: #ffffff;
    border-top-width: 0;
    position: relative;
    margin-bottom: 0;
    color: #69727D;
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .form-row-first, .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .form-row-last {
      width: 100%;
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-form-coupon-toggle {
    display: none;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-form-login__submit {
    width: 85%; /* 85% to match the design */
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .woocommerce-form-login__submit {
      width: var(--mas-login-button-width, 35%); /* 35% to match the design */
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-additional-fields h3 {
    text-align: var(--additional-fields-title-alignment, left);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-shipping-fields .shipping_address {
    margin-bottom: var(--mas-sections-margin, 20px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment {
    margin-top: 24px;
    padding: 15px 25px 25px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .payment_methods {
    border-bottom: none;
    padding: 0;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .payment_methods .payment_box {
    background-color: #F9FAFA;
  }
  .elementor-widget-mas-woocommerce-checkout-page .e-apply-coupon {
    width: 90%; /* 90% to match the design */
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .payment_methods li label a {
      float: none;
      font-size: 11px;
      padding-left: 10px;
    }
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .payment_methods li label img {
      width: 55px; /* 55px to match the design */
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .place-order {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    align-items: var(--mas-place-order-title-alignment, stretch);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment #place_order {
    background-color: #5bc0de;
    width: var(--mas-purchase-button-width, auto);
    float: none;
    color: var(--mas-purchase-button-normal-text-color, #ffffff);
    min-height: auto;
    padding: var(--mas-purchase-button-padding, 1em 1em);
    border-radius: var(--mas-purchase-button-border-radius, 3px);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment #place_order:hover {
    background-color: #5bc0de;
    color: var(--mas-purchase-button-hover-text-color, #ffffff);
    border-color: var(--mas-purchase-button-hover-border-color, #5bc0de);
    transition-duration: var(--mas-purchase-button-hover-transition-duration, 0.3s);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout #payment .woocommerce-info:before {
    display: none;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .col2-set .col-1,
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce-checkout .col2-set .col-2 {
    width: auto;
    float: none;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .coupon-container-grid {
    display: grid;
    grid-template-columns: auto auto; /*columns widths*/
    align-items: center;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .coupon-container-grid .coupon-col-2 {
    text-align: right;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .wc_payment_method label {
    display: inline;
  }
  @media (max-width: 1024px) {
    .elementor-widget-mas-woocommerce-checkout-page .woocommerce .coupon-container-grid {
      display: block;
    }
    .elementor-widget-mas-woocommerce-checkout-page .woocommerce .coupon-container-grid .coupon-col-2 {
      text-align: var(--mas-coupon-button-alignment, left);
    }
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #account_password_field {
    /* need to override the style controls,
    these items must not be affected by the controls */
    margin-bottom: 10px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce button.woocommerce-button:hover {
    color: var(--mas-forms-buttons-hover-text-color, #6F6F6F);
    transition-duration: var(--mas-forms-buttons-hover-transition-duration, 0.3s);
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce .product-name .variation {
    color: var(--mas-order-summary-variations-color, #000000);
    /* We need to specify these values so that the 'Items' Typography control does not affect
    the 'Variations' */
    font-size: 14px;
    font-style: normal;
    text-transform: none;
    letter-spacing: normal;
    text-decoration: none;
    line-height: 21px;
  }
  .elementor-widget-mas-woocommerce-checkout-page .woocommerce #shipping_method li label {
    color: var(--mas-sections-radio-buttons-color, #69727D);
  }