.elementor-widget-mas-posts.load-more-align-center .mas-elementor-button-wrapper, .elementor-widget-mas-archive-posts.load-more-align-center .mas-elementor-button-wrapper, .elementor-widget-mas-portfolio.load-more-align-center .mas-elementor-button-wrapper, .elementor-widget-mas-archive-portfolio.load-more-align-center .mas-elementor-button-wrapper {
    justify-content: center;
}
.elementor-widget-mas-posts.load-more-align-start .mas-elementor-button-wrapper, .elementor-widget-mas-archive-posts.load-more-align-start .mas-elementor-button-wrapper, .elementor-widget-mas-portfolio.load-more-align-start .mas-elementor-button-wrapper, .elementor-widget-mas-archive-portfolio.load-more-align-start .mas-elementor-button-wrapper {
    justify-content: start;
}
.elementor-widget-mas-posts.load-more-align-end .mas-elementor-button-wrapper, .elementor-widget-mas-archive-posts.load-more-align-end .mas-elementor-button-wrapper, .elementor-widget-mas-portfolio.load-more-align-end .mas-elementor-button-wrapper, .elementor-widget-mas-archive-portfolio.load-more-align-end .mas-elementor-button-wrapper {
    justify-content: end;
}
.elementor-widget-mas-posts.load-more-align-justify .elementor-button, .elementor-widget-mas-archive-posts.load-more-align-justify .elementor-button, .elementor-widget-mas-portfolio.load-more-align-justify .elementor-button, .elementor-widget-mas-archive-portfolio.load-more-align-justify .elementor-button {
    width: 100%;
}
.elementor-widget-mas-posts .e-load-more-spinner, .elementor-widget-mas-archive-posts .e-load-more-spinner, .elementor-widget-mas-portfolio .e-load-more-spinner, .elementor-widget-mas-archive-portfolio .e-load-more-spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-widget-mas-posts .e-load-more-spinner i, .elementor-widget-mas-posts .e-load-more-spinner svg, .elementor-widget-mas-archive-posts .e-load-more-spinner i, .elementor-widget-mas-archive-posts .e-load-more-spinner svg, .elementor-widget-mas-portfolio .e-load-more-spinner i, .elementor-widget-mas-portfolio .e-load-more-spinner svg, .elementor-widget-mas-archive-portfolio .e-load-more-spinner i, .elementor-widget-mas-archive-portfolio .e-load-more-spinner svg {
    margin: 0 auto;
    display: none;
}
.elementor-widget-mas-posts .e-load-more-spinner i, .elementor-widget-mas-archive-posts .e-load-more-spinner i, .elementor-widget-mas-portfolio .e-load-more-spinner i, .elementor-widget-mas-archive-portfolio .e-load-more-spinner i {
    color: var(--load-more-spinner-color);
}
.elementor-widget-mas-posts .e-load-more-spinner svg, .elementor-widget-mas-archive-posts .e-load-more-spinner svg, .elementor-widget-mas-portfolio .e-load-more-spinner svg, .elementor-widget-mas-archive-portfolio .e-load-more-spinner svg {
    fill: var(--load-more-spinner-color);
    height: 1em;
    width: 1em;
}
.elementor-widget-mas-posts .e-load-more-message, .elementor-widget-mas-archive-posts .e-load-more-message, .elementor-widget-mas-portfolio .e-load-more-message, .elementor-widget-mas-archive-portfolio .e-load-more-message {
    color: var(--load-more-message-color);
    text-align: var(--load-more-message-alignment, center);
    display: none;
    margin-top: var(--load-more—spacing, 30px);
}
.elementor-widget-mas-posts.e-load-more-pagination-loading, .elementor-widget-mas-archive-posts.e-load-more-pagination-loading, .elementor-widget-mas-portfolio.e-load-more-pagination-loading, .elementor-widget-mas-archive-portfolio.e-load-more-pagination-loading {
    cursor: default;
}
.elementor-widget-mas-posts.e-load-more-pagination-loading .e-load-more-spinner, .elementor-widget-mas-archive-posts.e-load-more-pagination-loading .e-load-more-spinner, .elementor-widget-mas-portfolio.e-load-more-pagination-loading .e-load-more-spinner, .elementor-widget-mas-archive-portfolio.e-load-more-pagination-loading .e-load-more-spinner {
    margin-top: var(--load-more—spacing, 30px);
}
.elementor-widget-mas-posts.e-load-more-pagination-loading .e-load-more-spinner i, .elementor-widget-mas-posts.e-load-more-pagination-loading .e-load-more-spinner svg, .elementor-widget-mas-archive-posts.e-load-more-pagination-loading .e-load-more-spinner i, .elementor-widget-mas-archive-posts.e-load-more-pagination-loading .e-load-more-spinner svg, .elementor-widget-mas-portfolio.e-load-more-pagination-loading .e-load-more-spinner i, .elementor-widget-mas-portfolio.e-load-more-pagination-loading .e-load-more-spinner svg, .elementor-widget-mas-archive-portfolio.e-load-more-pagination-loading .e-load-more-spinner i, .elementor-widget-mas-archive-portfolio.e-load-more-pagination-loading .e-load-more-spinner svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-widget-mas-posts.e-load-more-pagination-loading .mas-elementor-button-content-wrapper, .elementor-widget-mas-archive-posts.e-load-more-pagination-loading .mas-elementor-button-content-wrapper, .elementor-widget-mas-portfolio.e-load-more-pagination-loading .mas-elementor-button-content-wrapper, .elementor-widget-mas-archive-portfolio.e-load-more-pagination-loading .mas-elementor-button-content-wrapper {
    /* visibility: hidden; */
}
.elementor-widget-mas-posts.e-load-more-pagination-end .mas-elementor-button-wrapper, .elementor-widget-mas-archive-posts.e-load-more-pagination-end .mas-elementor-button-wrapper, .elementor-widget-mas-portfolio.e-load-more-pagination-end .mas-elementor-button-wrapper, .elementor-widget-mas-archive-portfolio.e-load-more-pagination-end .mas-elementor-button-wrapper {
    display: none;
}
.elementor-widget-mas-posts.e-load-more-pagination-end .e-load-more-message, .elementor-widget-mas-archive-posts.e-load-more-pagination-end .e-load-more-message, .elementor-widget-mas-portfolio.e-load-more-pagination-end .e-load-more-message, .elementor-widget-mas-archive-portfolio.e-load-more-pagination-end .e-load-more-message {
    display: flex;
}
.elementor-widget-mas-posts.e-load-more-no-spinner .mas-elementor-button-content-wrapper, .elementor-widget-mas-archive-posts.e-load-more-no-spinner .mas-elementor-button-content-wrapper, .elementor-widget-mas-portfolio.e-load-more-no-spinner .mas-elementor-button-content-wrapper, .elementor-widget-mas-archive-portfolio.e-load-more-no-spinner .mas-elementor-button-content-wrapper {
    visibility: visible;
}
.elementor-widget-mas-posts .mas-elementor-button-wrapper, .elementor-widget-mas-archive-posts .mas-elementor-button-wrapper, .elementor-widget-mas-portfolio .mas-elementor-button-wrapper, .elementor-widget-mas-archive-portfolio .mas-elementor-button-wrapper {
    margin-top: var(--load-more—spacing, 30px);
}
.elementor-widget-mas-posts .mas-elementor-button-wrapper .e-load-more-spinner, .elementor-widget-mas-archive-posts .mas-elementor-button-wrapper .e-load-more-spinner, .elementor-widget-mas-portfolio .mas-elementor-button-wrapper .e-load-more-spinner, .elementor-widget-mas-archive-portfolio .mas-elementor-button-wrapper .e-load-more-spinner {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: inherit;
}
.elementor-widget-mas-posts .mas-elementor-button-wrapper{
    display: flex;
}
.mas-lm-align-start{
    justify-content: left;
}
.mas-lm-align-end{
    justify-content: right;
}
.mas-lm-align-center{
    justify-content: center;
}