.off-canvas-active {
  overflow: hidden;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center; 
}
.header-menu > li > a {
  display: block;
  padding: 0.5em 10px;
}
.header-menu > li > a:hover, .header-menu > li > a:focus {
  text-decoration: none; 
}
.header-menu > li > a i {
  padding-right: 6px; 
}
@media (min-width: 1200px) {
.header-menu > li > .sub-menu::before {
  display: block;
  position: absolute;
  top: -4px;
  left: 40px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 3px; 
} 
}
.header-menu > li:last-child > .sub-menu {
  right: 0;
  left: auto; 
}
.header-menu > li:last-child > .sub-menu:before {
  right: 40px;
  left: auto; 
}
.header-menu .menu-item-has-children {
  position: relative; 
}
.header-menu .menu-item-has-children > a {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.header-menu .menu-item-has-children > a:after {
  font-family: "Line Awesome Free";
  font-weight: 900;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
  line-height: 28px;
  margin-left: 10px;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; 
} 

@media (min-width: 1200px) {
.header-menu .menu-item-has-children .menu-item-has-children > .sub-menu {
  left: 100%;
  top: -9px; 
}
}
@media (min-width: 1200px) {
.header-menu .menu-item-has-children:hover > .sub-menu, .header-menu .menu-item-has-children:focus > .sub-menu {
  display: block; 
} 
}
.header-menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0;
  margin: 0 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border-radius: 0;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1); 
}

@media (min-width: 1200px) {
  .header-menu .sub-menu {
    padding: 20px 0;
  }
}

.header-menu .elementor-active .sub-menu {
display: block;
}
@media (max-width: 1199.98px) {
.header-menu .sub-menu {
  box-shadow: none; 
} 
}
@media (min-width: 1200px) {
.header-menu .sub-menu {
  border-radius: 6px; 
}
}
.header-menu .sub-menu > li > a {
  display: block;
  width: 100%;
  padding: 4px 30px;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  border: 0;
}

.header-menu .sub-menu > li > a.active, .header-menu .sub-menu > li > a:active {
  text-decoration: none;
}
@media (min-width: 1200px) {
.header-menu .sub-menu {
  box-shadow: 0px 5px 12px 6px rgba(0, 0, 0, 0.1); 
} 
}
@media (min-width: 1200px) {
.header-menu > li > .sub-menu:before {
  box-shadow: 4px -5px 10px -3px rgba(0, 0, 0, 0.1); 
  } 
}

.collapse {
display: none;
}
.collapse.show{
display: block;
}


/* Hamburger menu */
.handheld-header {
justify-content: space-between;
padding: 21.5px 0;
align-items: center;
}
.handheld-header .site-branding {
padding-left: 0;
}
.handheld-header .off-canvas-navigation-wrapper {
line-height: 1;
}
.handheld-header .secondary-menu-text {
display: none;
}

.handheld-header > .header-menu > li > a {
display: flex;
align-items: center;
}
.handheld-header > .header-menu > li > a i {
padding-right: 0;
font-size: 18px;
}
.handheld-header-menu.header-menu li {
display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: space-between;
}
.handheld-header-menu.header-menu .sub-menu {
width: 100%;
padding: 14px 0;
}

.handheld-header-menu.header-menu .sub-menu a {
line-height: 2.2;
padding: 4px 24px;
}
.handheld-header-menu.header-menu button.dropdown-toggle {
outline: none;
background-color: transparent;
padding-right: 1.387em;
}
.handheld-header-menu.header-menu .menu-item-has-children .sub-menu.toggled-on {
display: block;
position: relative;
top: 0;
left: 0;
}
.handheld-sidebar-toggle {
padding-left: 15px;
margin-top: 20px;
}

.hidden {
 display: none;
}

.mas-hamburger-menu ul{
  margin-left: 0px; 
}
.mas-hamburger-menu li{
  margin-left: 0px; 
}
.mas-hamburger-menu .handheld-header-menu.header-menu .sub-menu a {
  line-height: 2.2;
  padding: 4px 24px;
}
@media (min-width: 1200px) {
  .header-menu > li > .sub-menu::before {
      /* content: ''; */
      display: block;
      position: absolute;
      top: -4px;
      left: 40px;
      width: 20px;
      height: 20px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background-color: #fff;
      border-radius: 3px;
  }
}

@media(max-width: 1199px) {
  .handheld.collapse, .handheld.collapsing {
      overflow-x: hidden;
      overflow-y: scroll;
      z-index: 99;
  }
  
  .handheld.collapse.show ul.mas-elementor-nav-menu {
      display: flex;
      flex-direction: column;
      padding: 0.875rem 1.5rem;
      align-items: inherit;
    list-style: none;
  }

  .handheld.collapse.show ul li a,
  .mas-nav-menu .navbar-toggler {
    cursor:default;
  }

  .handheld.horizontal.collapse ul li ul li.menu-item-has-children:hover > ul.dropdown-menu,
  .handheld.horizontal.collapse ul li ul li.menu-item-has-children:focus > ul.dropdown-menu {
    display: block;
    margin-left: 20px;
  }
  
  .mas-nav-menu.main-navigation ul li.menu-item-has-children:hover > ul.sub-menu,
  .mas-nav-menu.main-navigation ul li.menu-item-has-children:focus > ul.sub-menu,
  .mas-hamburger-menu ul li.menu-item-has-children:hover > .dropdown-menu,
  .mas-hamburger-menu ul li.menu-item-has-children:focus > .dropdown-menu,
  .header-menu .dropdown-menu.show,
  .handheld.horizontal.collapse ul li ul li.menu-item-has-children:hover > ul.dropdown-menu,
  .handheld.horizontal.collapse ul li ul li.menu-item-has-children:focus > ul.dropdown-menu {     
     position: static !important;
      transform: none !important;
  }
  
  .mas-nav-menu.main-navigation ul li.menu-item-has-children:hover > ul.sub-menu ul,
  .mas-nav-menu.main-navigation ul li.menu-item-has-children:focus > ul.sub-menu ul,
  .mas-hamburger-menu ul li.menu-item-has-children:hover > .dropdown-menu ul,
  .mas-hamburger-menu ul li.menu-item-has-children:focus > .dropdown-menu ul { 
    margin-left: 20px;
  }
  
  .handheld-header-menu.header-menu li {
    display: block;
  }
  .mas-nav-menu.main-navigation ul {
    list-style: none;
  }
}


@media(min-width: 1200px) {
  .mas-nav-menu .navbar-toggler {
    display: none;
  }

  .collapse.handheld.horizontal {
    display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      align-items: flex-start;
  }
  
  .mas-nav-menu .header-menu,
  .handheld-header-menu {
    list-style: none;
    padding:0;
  }
}

.mas-nav-layout-vertical .header-menu {
  flex-direction: column;
}


.mas-nav-layout-vertical .header-menu .dropdown-menu {
  top: 0;
  left: 100%;
}

.mas-nav-menu-shadow-hide .header-menu .dropdown-menu {
  box-shadow: none;
}