.mas-grid-1 .mas-grid {
  grid-template-columns: repeat(1, 1fr);
}
.mas-grid-2 .mas-grid {
  grid-template-columns: repeat(2, 1fr);
}
.mas-grid-3 .mas-grid {
  grid-template-columns: repeat(3, 1fr);
}
.mas-grid-4 .mas-grid {
  grid-template-columns: repeat(4, 1fr);
}
.mas-grid-5 .mas-grid {
  grid-template-columns: repeat(5, 1fr);
}
.mas-grid-6 .mas-grid {
  grid-template-columns: repeat(6, 1fr);
}
.mas-grid-7 .mas-grid {
  grid-template-columns: repeat(7, 1fr);
}
.mas-grid-8 .mas-grid {
  grid-template-columns: repeat(8, 1fr);
}
.mas-grid-9 .mas-grid {
  grid-template-columns: repeat(9, 1fr);
}
.mas-grid-10 .mas-grid {
  grid-template-columns: repeat(10, 1fr);
}
.mas-grid-11 .mas-grid {
  grid-template-columns: repeat(11, 1fr);
}
.mas-grid-12 .mas-grid {
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 1440px) {
  .mas-grid-laptop-1 .mas-grid{ grid-template-columns:repeat(1,1fr) }
  .mas-grid-laptop-2 .mas-grid{ grid-template-columns:repeat(2,1fr) }
  .mas-grid-laptop-3 .mas-grid{ grid-template-columns:repeat(3,1fr) }
  .mas-grid-laptop-4 .mas-grid{ grid-template-columns:repeat(4,1fr) }
  .mas-grid-laptop-5 .mas-grid{ grid-template-columns:repeat(5,1fr) }
  .mas-grid-laptop-6 .mas-grid{ grid-template-columns:repeat(6,1fr) }
  .mas-grid-laptop-7 .mas-grid{ grid-template-columns:repeat(7,1fr) }
  .mas-grid-laptop-8 .mas-grid{ grid-template-columns:repeat(8,1fr) }
  .mas-grid-laptop-9 .mas-grid{ grid-template-columns:repeat(9,1fr) }
  .mas-grid-laptop-10 .mas-grid{ grid-template-columns:repeat(10,1fr) }
  .mas-grid-laptop-11 .mas-grid{ grid-template-columns:repeat(11,1fr) }
  .mas-grid-laptop-12 .mas-grid{ grid-template-columns:repeat(12,1fr) }
}

@media (max-width: 1024px) {
    .mas-grid-tablet-1 .mas-grid{ grid-template-columns:repeat(1,1fr) }
  .mas-grid-tablet-2 .mas-grid{ grid-template-columns:repeat(2,1fr) }
  .mas-grid-tablet-3 .mas-grid{ grid-template-columns:repeat(3,1fr) }
  .mas-grid-tablet-4 .mas-grid{ grid-template-columns:repeat(4,1fr) }
  .mas-grid-tablet-5 .mas-grid{ grid-template-columns:repeat(5,1fr) }
  .mas-grid-tablet-6 .mas-grid{ grid-template-columns:repeat(6,1fr) }
  .mas-grid-tablet-7 .mas-grid{ grid-template-columns:repeat(7,1fr) }
  .mas-grid-tablet-8 .mas-grid{ grid-template-columns:repeat(8,1fr) }
  .mas-grid-tablet-9 .mas-grid{ grid-template-columns:repeat(9,1fr) }
  .mas-grid-tablet-10 .mas-grid{ grid-template-columns:repeat(10,1fr) }
  .mas-grid-tablet-11 .mas-grid{ grid-template-columns:repeat(11,1fr) }
  .mas-grid-tablet-12 .mas-grid{ grid-template-columns:repeat(12,1fr) }
}

@media (max-width:767px){
  .mas-grid-mobile-1 .mas-grid{ grid-template-columns:repeat(1,1fr) }
  .mas-grid-mobile-2 .mas-grid{ grid-template-columns:repeat(2,1fr) }
  .mas-grid-mobile-3 .mas-grid{ grid-template-columns:repeat(3,1fr) }
  .mas-grid-mobile-4 .mas-grid{ grid-template-columns:repeat(4,1fr) }
  .mas-grid-mobile-5 .mas-grid{ grid-template-columns:repeat(5,1fr) }
  .mas-grid-mobile-6 .mas-grid{ grid-template-columns:repeat(6,1fr) }
  .mas-grid-mobile-7 .mas-grid{ grid-template-columns:repeat(7,1fr) }
  .mas-grid-mobile-8 .mas-grid{ grid-template-columns:repeat(8,1fr) }
  .mas-grid-mobile-9 .mas-grid{ grid-template-columns:repeat(9,1fr) }
  .mas-grid-mobile-10 .mas-grid{ grid-template-columns:repeat(10,1fr) }
  .mas-grid-mobile-11 .mas-grid{ grid-template-columns:repeat(11,1fr) }
  .mas-grid-mobile-12 .mas-grid{ grid-template-columns:repeat(12,1fr) }
}



.mas-posts-grid .mas-posts.mas-grid {
  display: grid;
  margin: 0;
}

.mas-posts-grid .mas-posts.mas-grid {
  display: grid;
  margin: 0;
}

.mas-projects-grid .mas-projects.mas-grid {
  display: grid;
  margin: 0;
}

.woocommerce .mas-products, .woocommerce-page .mas-products {
  clear: both;
}

@media (max-width:767px){
  .d-sm-none{
      display: none;
  }
}

@media (max-width:1023px){
  .d-md-none{
      display: none;
  }
}

@media(min-width: 1200px) {
  li.menu-item-has-children.has-mega-menu {
    position: static !important;
  }
}