.mas-grid-1 .mas-grid {
      grid-template-columns: repeat(1, 1fr)
  }
  
  .mas-grid-2 .mas-grid {
      grid-template-columns: repeat(2, 1fr)
  }
  
  .mas-grid-3 .mas-grid {
      grid-template-columns: repeat(3, 1fr)
  }
  
  .mas-grid-4 .mas-grid {
      grid-template-columns: repeat(4, 1fr)
  }
  
  .mas-grid-5 .mas-grid {
      grid-template-columns: repeat(5, 1fr)
  }
  
  .mas-grid-6 .mas-grid {
      grid-template-columns: repeat(6, 1fr)
  }
  
  .mas-grid-7 .mas-grid {
      grid-template-columns: repeat(7, 1fr)
  }
  
  .mas-grid-8 .mas-grid {
      grid-template-columns: repeat(8, 1fr)
  }
  
  .mas-grid-9 .mas-grid {
      grid-template-columns: repeat(9, 1fr)
  }
  
  .mas-grid-10 .mas-grid {
      grid-template-columns: repeat(10, 1fr)
  }
  
  .mas-grid-11 .mas-grid {
      grid-template-columns: repeat(11, 1fr)
  }
  
  .mas-grid-12 .mas-grid {
      grid-template-columns: repeat(12, 1fr)
  }
  
  @media (max-width:1440px) {
      .mas-grid-laptop-1 .mas-grid {
          grid-template-columns: repeat(1, 1fr)
      }
  
      .mas-grid-laptop-2 .mas-grid {
          grid-template-columns: repeat(2, 1fr)
      }
  
      .mas-grid-laptop-3 .mas-grid {
          grid-template-columns: repeat(3, 1fr)
      }
  
      .mas-grid-laptop-4 .mas-grid {
          grid-template-columns: repeat(4, 1fr)
      }
  
      .mas-grid-laptop-5 .mas-grid {
          grid-template-columns: repeat(5, 1fr)
      }
  
      .mas-grid-laptop-6 .mas-grid {
          grid-template-columns: repeat(6, 1fr)
      }
  
      .mas-grid-laptop-7 .mas-grid {
          grid-template-columns: repeat(7, 1fr)
      }
  
      .mas-grid-laptop-8 .mas-grid {
          grid-template-columns: repeat(8, 1fr)
      }
  
      .mas-grid-laptop-9 .mas-grid {
          grid-template-columns: repeat(9, 1fr)
      }
  
      .mas-grid-laptop-10 .mas-grid {
          grid-template-columns: repeat(10, 1fr)
      }
  
      .mas-grid-laptop-11 .mas-grid {
          grid-template-columns: repeat(11, 1fr)
      }
  
      .mas-grid-laptop-12 .mas-grid {
          grid-template-columns: repeat(12, 1fr)
      }
  }
  
  @media (max-width:1024px) {
      .mas-grid-tablet-1 .mas-grid {
          grid-template-columns: repeat(1, 1fr)
      }
  
      .mas-grid-tablet-2 .mas-grid {
          grid-template-columns: repeat(2, 1fr)
      }
  
      .mas-grid-tablet-3 .mas-grid {
          grid-template-columns: repeat(3, 1fr)
      }
  
      .mas-grid-tablet-4 .mas-grid {
          grid-template-columns: repeat(4, 1fr)
      }
  
      .mas-grid-tablet-5 .mas-grid {
          grid-template-columns: repeat(5, 1fr)
      }
  
      .mas-grid-tablet-6 .mas-grid {
          grid-template-columns: repeat(6, 1fr)
      }
  
      .mas-grid-tablet-7 .mas-grid {
          grid-template-columns: repeat(7, 1fr)
      }
  
      .mas-grid-tablet-8 .mas-grid {
          grid-template-columns: repeat(8, 1fr)
      }
  
      .mas-grid-tablet-9 .mas-grid {
          grid-template-columns: repeat(9, 1fr)
      }
  
      .mas-grid-tablet-10 .mas-grid {
          grid-template-columns: repeat(10, 1fr)
      }
  
      .mas-grid-tablet-11 .mas-grid {
          grid-template-columns: repeat(11, 1fr)
      }
  
      .mas-grid-tablet-12 .mas-grid {
          grid-template-columns: repeat(12, 1fr)
      }
  }
  
  @media (max-width:767px) {
      .mas-grid-mobile-1 .mas-grid {
          grid-template-columns: repeat(1, 1fr)
      }
  
      .mas-grid-mobile-2 .mas-grid {
          grid-template-columns: repeat(2, 1fr)
      }
  
      .mas-grid-mobile-3 .mas-grid {
          grid-template-columns: repeat(3, 1fr)
      }
  
      .mas-grid-mobile-4 .mas-grid {
          grid-template-columns: repeat(4, 1fr)
      }
  
      .mas-grid-mobile-5 .mas-grid {
          grid-template-columns: repeat(5, 1fr)
      }
  
      .mas-grid-mobile-6 .mas-grid {
          grid-template-columns: repeat(6, 1fr)
      }
  
      .mas-grid-mobile-7 .mas-grid {
          grid-template-columns: repeat(7, 1fr)
      }
  
      .mas-grid-mobile-8 .mas-grid {
          grid-template-columns: repeat(8, 1fr)
      }
  
      .mas-grid-mobile-9 .mas-grid {
          grid-template-columns: repeat(9, 1fr)
      }
  
      .mas-grid-mobile-10 .mas-grid {
          grid-template-columns: repeat(10, 1fr)
      }
  
      .mas-grid-mobile-11 .mas-grid {
          grid-template-columns: repeat(11, 1fr)
      }
  
      .mas-grid-mobile-12 .mas-grid {
          grid-template-columns: repeat(12, 1fr)
      }
  }
  
  .mas-posts-grid .mas-posts.mas-grid {
      display: grid;
      margin: 0
  }
  
  .mas-posts-grid .mas-posts.mas-grid {
      display: grid;
      margin: 0
  }
  
  .mas-projects-grid .mas-projects.mas-grid {
      display: grid;
      margin: 0
  }
  
  .woocommerce .mas-products,
  .woocommerce-page .mas-products {
      clear: both
  }
  
  @media (max-width:767px) {
      .d-sm-none {
          display: none
      }
  }
  
  @media (max-width:1023px) {
      .d-md-none {
          display: none
      }
  }
  
  .bg-gradient-primary {
      background: linear-gradient(to right, #1013bc, #9d83da, #26eef1)
  }
  
  @media(min-width:1200px) {
      li.menu-item-has-children.has-mega-menu {
          position: static !important
      }
  }
  
  .js-scrollspy .elementor-icon-list-item a {
      padding: 8px 16px;
      border-left: .1875rem solid #bdc5d1
  }
  
  .js-scrollspy .elementor-icon-list-item a.active {
      border-left: .1875rem solid #0abf53 !important;
      color: #2d374b !important
  }
  
  .js-scrollspy .elementor-icon-list-item {
      margin: 0 !important;
      padding: 0 !important
  }
  
  .show-password-input {
      opacity: 1
  }
  
  .show-password-input.display-password {
      opacity: .4
  }
  
  .swiper-step-pagination .swiper-slide::before,
  .swiper-step-pagination .swiper-wrapper::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: .125rem;
      content: ""
  }
  
  .swiper-step-pagination-light .swiper-wrapper::before {
      background-color: rgba(255, 255, 255, .2)
  }
  
  .swiper-thumbs .swiper-slide {
      cursor: pointer;
      opacity: .4
  }
  
  .swiper-thumbs .swiper-slide-thumb-active {
      opacity: 1
  }
  
  .swiper-step-pagination .swiper-slide.swiper-slide-thumb-active::before {
      background-color: #2d374b;
      opacity: 1
  }
  
  .swiper-step-pagination-light .swiper-slide.swiper-slide-thumb-active::before {
      background-color: #fff
  }
  
  .swiper-step-pagination-light .swiper-slide-thumb-active .swiper-step-pagination-title {
      color: #fff
  }
  
  .mas-js-swiper-thumbs {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0
  }
  
  .mas-posts-thumbs-wrapper {
      right: 0;
      left: 0;
      z-index: 3
  }
  
  @media (min-width:1441px) {
  
      .mas-swiper-pagination-hidden-desktop .swiper-pagination,
      .mas-thumbs-swiper-hidden-desktop .mas-posts-thumbs-wrapper {
          display: none
      }
  }
  
  @media (min-width:1025px) and (max-width:1440px) {
  
      .mas-swiper-pagination-hidden-laptop .swiper-pagination,
      .mas-thumbs-swiper-hidden-laptop .mas-posts-thumbs-wrapper {
          display: none
      }
  }
  
  @media (min-width:768px) and (max-width:1024px) {
  
      .mas-swiper-pagination-hidden-tablet .swiper-pagination,
      .mas-thumbs-swiper-hidden-tablet .mas-posts-thumbs-wrapper {
          display: none
      }
  }
  
  @media (min-width:0px) and (max-width:767px) {
  
      .mas-swiper-pagination-hidden-mobile .swiper-pagination,
      .mas-thumbs-swiper-hidden-mobile .mas-posts-thumbs-wrapper {
          display: none
      }
  }
  
  .off-canvas-active {
      overflow: hidden
  }
  
  .mas-products-grid .mas-products.mas-grid {
      display: grid;
      margin: 0
  }
  
  .mas-products-grid .mas-products.mas-grid {
      display: grid;
      margin: 0
  }
  
  .line-clamp-2 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2
  }
  
  .swiper-position-static-enable .elementor-widget-container .swiper {
      position: static !important
  }
  
  .swiper-position-static-enable.swiper.elementor-section {
      position: static !important
  }
  
  .add_to_cart_button.hide-mas-cart.added {
      display: none
  }
  
  .elementor-align-justify .added_to_cart {
      width: 100%
  }
  
  .h-100 {
      height: 100% !important
  }
  
  .mas-collapsed {
      display: none !important
  }
  
  .divider .mas-product {
      position: relative;
      border-bottom: 1px solid #e9ecef
  }
  
  .divider .mas-product:last-child,
  .divider .mas-product:nth-last-child(2) {
      border-bottom-width: 0
  }
  
  @media (min-width:768px) {
      .divider .mas-product {
          border-bottom-width: 0
      }
  }
  
  .divider .mas-product::after {
      content: '';
      border-right: 1px solid #e9ecef;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      height: 70%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%)
  }
  
  @media (min-width:1200px) {
      .divider .mas-product:after {
          height: 80%
      }
  
      .divider .mas-product self:is(:hover, :focus):after {
          content: none
      }
  
      .divider .mas-product self:is(:hover, :focus) .product-hover {
          display: -ms-flexbox;
          display: flex;
          -webkit-animation: fadeIn .2s;
          animation: fadeIn .2s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards
      }
  }
  
  @media (max-width:767px) {
      .divider .mas-product:nth-child(even)::after {
          content: none
      }
  }
  
  @media (min-width:1200px) {
      .divider .mas-grid-1 .mas-product::after {
          content: none
      }
  
      .divider .mas-grid-2 .mas-product:last-child::after,
      .divider .mas-grid-2 .mas-product:nth-child(2n)::after {
          content: none
      }
  
      .divider .mas-grid-3 .mas-product:last-child::after,
      .divider .mas-grid-3 .mas-product:nth-child(3n)::after {
          content: none
      }
  
      .divider .mas-grid-4 .mas-product:last-child::after,
      .divider .mas-grid-4 .mas-product:nth-child(4n)::after {
          content: none
      }
  
      .divider .mas-grid-5 .mas-product:last-child::after,
      .divider .mas-grid-5 .mas-product:nth-child(5n)::after {
          content: none
      }
  
      .divider .mas-grid-6 .mas-product:last-child::after,
      .divider .mas-grid-6 .mas-product:nth-child(6n)::after {
          content: none
      }
  }
  
  .divider .swiper-slide-duplicate-active .mas-product:after,
  .divider .swiper-slide-duplicate-prev .mas-product:after,
  .divider .swiper-slide-prev .mas-product:after {
      content: none
  }

.mas-countdown-separator-yes .mas-js-countdown > .mas-elementor-countdown-item:not(:last-child):after {
      content: ':';
}


.mas-carousel-short-description .woocommerce-product-details__short-description {
      height: 3.5em;
      overflow: hidden;
  
}
.mas-carousel-short-description .woocommerce-product-details__short-description ul > li{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
.mas-carousel-short-description .woocommerce-product-details__short-description ul{
	padding-left: 0px;
}

.elementor-widget-mas-woocommerce-products .mas-product .elementor-widget-image-carousel .swiper-slide {
	width: 100% !important;
	box-sizing: border-box;
}

.elementor-widget-mas-woocommerce-products .mas-product .elementor-widget-image-carousel .swiper-pagination-bullet-active {
		width: 30px !important;
    border-radius: 3px;
}

.mas-swiper-overflow {
	overflow: hidden;
}

.mas-swiper-overflow .swiper {
	overflow: visible;
}

.mas-swiper-inactive-arrows-hide .swiper-button-disabled {
      display: none;
}

@media (max-width: 1199px) {
.dropdown-submenu .dropdown-menu {
            display: none !important;
      }
.dropdown-submenu.open .dropdown-menu {
            display: block !important;
      }
}

/** Elementor content wrapper gap fix **/
.elementor-widget-mas-woocommerce-products .elementor-widget-mas-add-to-cart:not(.enable-cart-gap) .mas-add-to-cart .elementor-button-content-wrapper {
	gap: 0px;
}

.mas-swiper-arrows .elementor-button-content-wrapper {
	gap: 0px;
}

.mas-add-to-cart .view-cart-btn {
      display: none;
}

.mas-product-review-hide .woocommerce-review-link {
    display: none;
}

.mt-auto {
    margin-top: auto;
}

.mas-icon-transition {
   transition: 0.3s ease-in-out;
}

.mas-transition-none, .mas-transition-none a {
    transition: none !important;
}

.mas-position-static {
    position: static !important;
}

.mas-position-relative {
    position: relative !important;
}

.v-hidden {
    visibility: hidden;
    opacity: 0;
}

.mas-button-hover-content {
    visibility: visible;
    opacity: 1;
    transition: opacity .1s linear;
}

.no-margin-children * {
    margin-top: 0;
    margin-bottom: 0;
}
  
.my-0 {
    margin-top: 0;
margin-bottom: 0;
}

.mas-view-cart--text-hide .added_to_cart .elementor-button-text {
    display: none !important;
}


.cart-count {
	text-indent: -999px;
	overflow: hidden;
	width: auto;
}

a:hover ~ .cart-count {
	text-indent: 0;
	transition-timing-function: ease-in-out;
    transition-duration: .3s;
}

.cart-count-btn {
    display: none !important;
}

.product-btn-card:hover .elementor-widget-mas-add-to-cart {
	opacity: 1;
	transition: 0.3s ease-in-out;
}

.product-btn-card .elementor-widget-mas-add-to-cart {
	opacity: 0;
}


.mas-overflow-hidden {
	overflow: hidden !important;
}

.mas-overflow-y-hidden {
	overflow-y: hidden !important;
}

.mas-overflow-widget-hidden .elementor-widget-container {
	overflow: hidden;
}


.mas-widget-h-auto .elementor-widget-container {
	height: auto !important;
}


.value {
	word-break:break-word;
}

.overflow-visible {
	overflow: visible !important;
}

.elementor:has(.ms-scroll-animation) {
	overflow: hidden;
}