@media (max-width: 1199.98px) {
  .enable-overflow {
    overflow-y:scroll !important;
  }

  .enable-width {
    flex-basis: 50% !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  .nowrap {
    flex-wrap: nowrap !important;
  }

}

@media (max-width: 767.98px) {
  .enable-width {
    flex-basis: 100% !important;
    flex-shrink: 0 !important;
  }
}