.mas-episodes-tabs.mas-episodes-tabs-wrapper 
    .me-tabs {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x:auto;
}

.mas-episodes-tabs.mas-episodes-tabs-wrapper 
    .me-tabs {
    padding: 0;
    margin: 0;
    list-style: none;    
}


.mas-episodes-content-wrapper.tab-content>.tab-pane {
    display: none;
}

.mas-episodes-content-wrapper.tab-content>.active {
    display: block;
}

.mas-nav-link {
    display: block;
    width: 100%;
}

.mas-tab-flex {
    display: flex;
}

.mas-tab-flex-grow {
    flex-grow: 1;
}

.mas-episodes-grid .mas-episodes-content-wrapper .mas-episodes.mas-grid.active {
    display: grid;
    margin: 0;
  }