.elementor-menu-cart__wrapper {
    text-align: var(--main-alignment, left);
  }
  .elementor-menu-cart__toggle_wrapper {
    display: inline-block;
    position: relative;
  }
  .elementor-menu-cart__toggle {
    display: inline-block;
  }
  .elementor-menu-cart__toggle .elementor-button {
    background-color: var(--toggle-button-background-color, transparent);
    color: var(--toggle-button-text-color, #69727D);
    border-style: var(--toggle-button-border-type, solid);
    border-width: var(--toggle-button-border-width, 1px);
    border-color: var(--toggle-button-border-color, #69727D);
    border-radius: var(--toggle-button-border-radius, 0px);
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: var(--toggle-icon-padding, 12px 24px);
  }
  .elementor-menu-cart__toggle .elementor-button:hover {
    color: var(--toggle-button-hover-text-color, #69727D);
    background-color: var(--toggle-button-hover-background-color, transparent);
    border-color: var(--toggle-button-hover-border-color, #69727D);
  }
  .elementor-menu-cart__toggle .elementor-button:hover .elementor-button-icon {
    color: var(--toggle-button-icon-hover-color, #69727D);
  }
  .elementor-menu-cart__toggle .elementor-button svg {
    fill: var(--toggle-button-icon-color, #69727D);
  }
  .elementor-menu-cart__toggle .elementor-button svg:hover {
    fill: var(--toggle-button-icon-hover-color, #69727D);
  }
  .elementor-menu-cart__toggle .elementor-button-text {
    -webkit-margin-end: 0.3em;
            margin-inline-end: 0.3em;
  }
  .elementor-menu-cart__toggle .elementor-button-icon {
    position: relative;
    transition: color 0.1s;
    color: var(--toggle-button-icon-color, #69727D);
    font-size: var(--toggle-icon-size, inherit);
  }
  .elementor-menu-cart__toggle .e-toggle-cart-custom-icon {
    color: var(--toggle-button-icon-color, #69727D);
    font-size: var(--toggle-icon-size, inherit);
  }
  .elementor-menu-cart__toggle .e-toggle-cart-custom-icon:hover {
    color: var(--toggle-button-icon-hover-color, #69727D);
  }
  .elementor-menu-cart--items-indicator-bubble .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
    display: block;
    position: absolute;
    min-width: 1.6em;
    height: 1.6em;
    line-height: 1.5em;
    top: -0.7em;
    inset-inline-end: -0.7em;
    border-radius: 100%;
    color: var(--items-indicator-text-color, #fff);
    background-color: var(--items-indicator-background-color, #d9534f);
    text-align: center;
    font-size: 10px;
  }
  .elementor-menu-cart--items-indicator-plain .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
    display: inline-block;
    font-weight: normal;
  }
  .elementor-menu-cart--items-indicator-none .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
    display: none;
  }
  .elementor-menu-cart__container {
    transform: scale(1);
    overflow: hidden;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s, transform 0s;
    text-align: left;
  }
  .elementor-menu-cart__main {
    position: fixed;
    left: var(--side-cart-alignment-left, auto);
    right: var(--side-cart-alignment-right, 0);
    transform: translateX(0);
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 14px;
    min-height: 200px;
    width: 350px;
    max-width: 100%;
    transition: 0.3s;
    padding: var(--cart-padding, 20px 30px);
    background-color: var(--cart-background-color, #fff);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-style: var(--cart-border-style, none);
    border-color: var(--cart-border-color, initial);
    border-radius: var(--cart-border-radius, 0px);
    margin-top: var(--mini-cart-spacing, 0px);
  }
  .elementor-menu-cart__main .widget_shopping_cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .elementor-menu-cart__main .widget_shopping_cart_content .woocommerce-mini-cart__empty-message {
    color: var(--empty-message-color, inherit);
    text-align: var(--empty-message-alignment, left);
  }
  body.elementor-default .elementor-widget-woocommerce-menu-cart:not(.elementor-menu-cart--shown) .elementor-menu-cart__container {
    background-color: transparent;
    transform: scale(0);
    transition: background-color 0.4s, transform 0s 0.4s;
  }
  body.elementor-default .elementor-widget-woocommerce-menu-cart:not(.elementor-menu-cart--shown) .elementor-menu-cart__container .dialog-lightbox-close-button {
    display: none;
  }
  body.elementor-default .elementor-widget-woocommerce-menu-cart:not(.elementor-menu-cart--shown) .elementor-menu-cart__main {
    overflow: hidden;
    opacity: 0;
    transform: var(--side-cart-alignment-transform, translateX(100%));
  }
  .elementor-menu-cart__close-button {
    width: var(--cart-close-icon-size, 25px);
    height: var(--cart-close-icon-size, 25px);
    position: relative;
    margin: 0 0 20px;
    align-self: flex-end;
    cursor: pointer;
    display: inline-block;
    font-family: eicons;
    font-size: 20px;
    line-height: 1;
    transition: 0.3s;
  }
  .elementor-menu-cart__close-button:before, .elementor-menu-cart__close-button:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: var(--cart-close-button-color, #69727D);
    border-radius: 1px;
    transition: 0.3s;
  }
  .elementor-menu-cart__close-button:hover::before, .elementor-menu-cart__close-button:hover::after {
    background: var(--cart-close-button-hover-color, #69727D);
  }
  .elementor-menu-cart__close-button::before {
    transform: rotate(45deg);
  }
  .elementor-menu-cart__close-button::after {
    transform: rotate(-45deg);
  }
  .elementor-menu-cart__close-button-custom {
    position: relative;
    margin: 0 0 20px;
    align-self: flex-end;
    cursor: pointer;
    display: inline-block;
    font-family: eicons;
    font-size: 20px;
    line-height: 1;
    transition: 0.3s;
  }
  .elementor-menu-cart__close-button-custom:hover::before, .elementor-menu-cart__close-button-custom:hover::after {
    background: var(--cart-close-button-hover-color, #69727D);
  }
  .elementor-menu-cart__close-button-custom .e-close-cart-custom-icon {
    font-size: var(--cart-close-icon-size, 25px);
    color: var(--cart-close-button-color, #69727D);
  }
  .elementor-menu-cart__close-button-custom .e-close-cart-custom-icon:hover {
    color: var(--cart-close-button-hover-color, #69727D);
  }
  .elementor-menu-cart__close-button-custom svg {
    fill: var(--cart-close-button-color, #69727D);
    width: var(--cart-close-icon-size, 25px);
    height: var(--cart-close-icon-size, 25px);
  }
  .elementor-menu-cart__close-button-custom svg:hover {
    fill: var(--cart-close-button-hover-color, #69727D);
  }
  .elementor-menu-cart__products {
    max-height: calc(100vh - 250px);
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .elementor-menu-cart__product {
    display: grid;
    grid-template-columns: 28% auto;
    grid-template-rows: var(--price-quantity-position--grid-template-rows, auto auto);
    position: relative;
    border-width: 0 0 var(--divider-width, 1px);
    border-bottom-style: var(--divider-style, solid);
    border-bottom-color: var(--divider-color, #D5D8DC);
  }
  .elementor-menu-cart__product .variation {
    display: grid;
    grid-template-columns: max-content auto;
    margin: 10px 0;
    color: var(--product-variations-color, #1f2124);
  }
  .elementor-menu-cart__product .variation dt {
    grid-column-start: 1;
  }
  .elementor-menu-cart__product .variation dd {
    grid-column-start: 2;
    -webkit-margin-start: 5px;
            margin-inline-start: 5px;
  }
  .elementor-menu-cart__product .variation dd p {
    margin-bottom: 0;
  }
  .elementor-menu-cart__product-image {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
  }
  .elementor-menu-cart__product-image img, .elementor-menu-cart__product-image a {
    display: block;
  }
  .elementor-menu-cart__product-name {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
  }
  .elementor-menu-cart__product-name a {
    transition: 0.3s;
  }
  .elementor-menu-cart__product-price {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: var(--price-quantity-position--align-self, end);
    font-weight: 300;
    color: var(--product-price-color, #D5D8DC);
  }
  .elementor-menu-cart__product-name, .elementor-menu-cart__product-price {
    font-size: 14px;
    padding-left: 20px;
  }
  .elementor-menu-cart__product-remove {
    color: #69727D;
    width: var(--remove-item-button-size, 22px);
    height: var(--remove-item-button-size, 22px);
    border-radius: var(--remove-item-button-size, 22px);
    border: 1px solid var(--remove-item-button-color, #D5D8DC);
    text-align: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 20px;
    transition: 0.3s;
  }
  .elementor-menu-cart__product-remove:hover {
    border: 1px solid var(--remove-item-button-hover-color, #D5D8DC);
  }
  .elementor-menu-cart__product-remove:hover::before, .elementor-menu-cart__product-remove:hover::after {
    background: var(--remove-item-button-hover-color, #D5D8DC);
  }
  .elementor-menu-cart__product-remove:before, .elementor-menu-cart__product-remove:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    top: 50%;
    left: 25%;
    margin-top: -1px;
    background: var(--remove-item-button-color, #D5D8DC);
    z-index: 1;
    transition: 0.3s;
  }
  .elementor-menu-cart__product-remove::before {
    transform: rotate(45deg);
  }
  .elementor-menu-cart__product-remove::after {
    transform: rotate(-45deg);
  }
  .elementor-menu-cart__product-remove > a {
    display: block;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    position: absolute;
  }
  .elementor-menu-cart__product-remove > a.remove_from_cart_button {
    display: var(--remove-from-cart-button, block);
  }
  .elementor-menu-cart__product-remove > a.elementor_remove_from_cart_button {
    display: var(--elementor-remove-from-cart-button, none);
  }
  .elementor-menu-cart__product:last-child {
    border: none;
  }
  .elementor-menu-cart__product:not(:first-of-type), .elementor-menu-cart__subtotal, .elementor-menu-cart__footer-buttons {
    padding-top: var(--product-divider-gap, 20px);
  }
  .elementor-menu-cart__product {
    padding-right: 30px;
  }
  .elementor-menu-cart__product, .elementor-menu-cart__subtotal {
    padding-bottom: var(--product-divider-gap, 20px);
  }
  .elementor-menu-cart__subtotal {
    font-size: 20px;
    text-align: var(--menu-cart-subtotal-text-align, center);
    font-weight: 600;
    color: var(--menu-cart-subtotal-color, inherit);
    border-style: var(--subtotal-divider-style, solid);
    border-width: var(--subtotal-divider-top-width, 1px) var(--subtotal-divider-right-width, 1px) var(--subtotal-divider-bottom-width, 1px) var(--subtotal-divider-left-width, 1px);
    border-color: var(--subtotal-divider-color, #D5D8DC);
  }
  .elementor-menu-cart__footer-buttons {
    font-size: 20px;
    text-align: var(--cart-footer-buttons-alignment-text-align, center);
    display: var(--cart-footer-buttons-alignment-display, grid);
    grid-template-columns: var(--cart-footer-layout, 1fr 1fr);
    margin-top: var(--cart-buttons-position-margin, 0);
    grid-column-gap: var(--space-between-buttons, 10px);
    grid-row-gap: var(--space-between-buttons, 10px);
  }
  .elementor-menu-cart__footer-buttons .elementor-button {
    display: inline-block;
    border-radius: var(--cart-footer-buttons-border-radius, 0px);
    height: -moz-fit-content;
    height: fit-content;
  }
  .elementor-menu-cart__footer-buttons .elementor-button--view-cart {
    display: var(--view-cart-button-display, inline-block);
    color: var(--view-cart-button-text-color, #fff);
    padding: var(--view-cart-button-padding, 15px);
    background-color: var(--view-cart-button-background-color, #69727D);
  }
  .elementor-menu-cart__footer-buttons .elementor-button--view-cart:hover {
    color: var(--view-cart-button-hover-text-color, #fff);
    background-color: var(--view-cart-button-hover-background-color, #69727D);
  }
  .elementor-menu-cart__footer-buttons .elementor-button--checkout {
    display: var(--checkout-button-display, inline-block);
    color: var(--checkout-button-text-color, #fff);
    padding: var(--checkout-button-padding, 15px);
    background-color: var(--checkout-button-background-color, #69727D);
  }
  .elementor-menu-cart__footer-buttons .elementor-button--checkout:hover {
    color: var(--checkout-button-hover-text-color, #fff);
    background-color: var(--checkout-button-hover-background-color, #69727D);
  }
  @media (max-width: 767px) {
    .elementor-menu-cart__footer-buttons .elementor-button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  /* The following is all to apply settings from the controls */
  .elementor-widget-woocommerce-menu-cart {
    /* Fix to prevent the cart modal flash when using the typography controls */
    /* Fix for short-lived legacy cart type */
  }
  .elementor-widget-woocommerce-menu-cart:not(.elementor-menu-cart--show-subtotal-yes) .elementor-menu-cart__toggle .elementor-button-text {
    display: none;
  }
  .elementor-widget-woocommerce-menu-cart.elementor-menu-cart--empty-indicator-hide .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter="0"] {
    display: none;
  }
  .elementor-widget-woocommerce-menu-cart:not(.elementor-menu-cart--show-remove-button-yes) .elementor-menu-cart__product {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 25% auto;
  }
  .elementor-widget-woocommerce-menu-cart:not(.elementor-menu-cart--show-remove-button-yes) .elementor-menu-cart__product-remove {
    display: none;
  }
  .elementor-widget-woocommerce-menu-cart.remove-item-position--top .elementor-menu-cart__product-remove {
    top: 0;
    bottom: auto;
  }
  .elementor-widget-woocommerce-menu-cart.remove-item-position--top .elementor-menu-cart__products .cart_item:not(:first-of-type) .elementor-menu-cart__product-remove {
    top: 20px;
    bottom: auto;
  }
  .elementor-widget-woocommerce-menu-cart.remove-item-position--middle .elementor-menu-cart__product-remove {
    transform: translateY(50%);
    bottom: 50%;
  }
  .elementor-widget-woocommerce-menu-cart.remove-item-position--bottom .elementor-menu-cart__product-remove {
    top: auto;
    bottom: 20px;
  }
  .elementor-widget-woocommerce-menu-cart.elementor-menu-cart--cart-type-mini-cart .elementor-menu-cart__container {
    position: absolute;
    width: auto;
    height: auto;
    overflow: visible;
    top: 100%;
    bottom: auto;
    background: none;
    min-width: 330px;
    left: 0;
    right: auto;
    transform: scale(1);
    transition: background-color 0.4s, transform 0s;
  }
  .elementor-widget-woocommerce-menu-cart.elementor-menu-cart--cart-type-mini-cart .elementor-menu-cart__main {
    width: auto;
    height: auto;
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    overflow: visible;
    transform: translateY(0);
    transition: 0.3s;
  }
  @media (max-width: 767px) {
    .elementor-widget-woocommerce-menu-cart.elementor-menu-cart--cart-type-mini-cart .elementor-menu-cart__container {
      min-width: 300px;
    }
  }
  body.elementor-default .elementor-widget-woocommerce-menu-cart.elementor-menu-cart--cart-type-mini-cart:not(.elementor-menu-cart--shown) .elementor-menu-cart__container {
    transform: scale(0);
    transition: background-color 0.4s, transform 0s 0.4s;
  }
  body.elementor-default .elementor-widget-woocommerce-menu-cart.elementor-menu-cart--cart-type-mini-cart:not(.elementor-menu-cart--shown) .elementor-menu-cart__main {
    opacity: 0;
    transform: translateY(-10px);
  }
  .elementor-edit-area-active .elementor-widget-woocommerce-menu-cart.elementor-widget.elementor-loading.elementor-menu-cart--shown {
    opacity: 1;
    /**
     * This keeps side-cart and mini-cart widget above other widgets
     * so there's no flash when using the typography controls
     */
  }
  .elementor-edit-area-active .elementor-widget-woocommerce-menu-cart.elementor-widget.elementor-loading.elementor-menu-cart--shown .elementor-menu-cart__container {
    z-index: 9999;
  }
  .elementor-widget-woocommerce-menu-cart.elementor-menu-cart--cart-type-dropdown .elementor-menu-cart__container {
    display: none;
  }